
<div clss="page-header">
  <h1>チームリスト</h1>
</div>
<div class="list-group">
  <% @organizations.each do |organization| %>
    <%= link_to organization.name, organization, class: 'list-group-item' %>
  <% end %>
</div>
